# Azure DevOps Pipeline pour CI/CD
trigger:
  branches:
    include:
    - main
    - develop
  paths:
    include:
    - forecast-service/**
    - k8s/**

variables:
  dockerRegistryServiceConnection: 'ACR-Connection'
  imageRepository: 'luxuryhouse/forecast-service'
  containerRegistry: 'luxuryhouse.azurecr.io'
  dockerfilePath: 'forecast-service/Dockerfile'
  tag: '$(Build.BuildId)'
  kubernetesServiceConnection: 'AKS-Prod'
  namespace: 'ml-forecast'

stages:
- stage: Build
  displayName: 'Build and Push Docker Image'
  jobs:
  - job: Build
    displayName: 'Build Job'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: 'Build Docker Image'
      inputs:
        command: build
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest
    
    - task: Docker@2
      displayName: 'Push to ACR'
      inputs:
        command: push
        repository: $(imageRepository)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest

- stage: Test
  displayName: 'Run Tests'
  dependsOn: Build
  jobs:
  - job: IntegrationTests
    displayName: 'Integration Tests'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.10'
    
    - script: |
        cd forecast-service
        pip install -r requirements.txt pytest requests
        # Ajouter vos tests ici
        # pytest tests/
      displayName: 'Run Tests'
      continueOnError: true

- stage: Deploy
  displayName: 'Deploy to AKS'
  dependsOn: Test
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - deployment: DeployToProduction
    displayName: 'Deploy to Production'
    environment: 'production'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: KubernetesManifest@0
            displayName: 'Deploy to Kubernetes'
            inputs:
              action: 'deploy'
              kubernetesServiceConnection: $(kubernetesServiceConnection)
              namespace: $(namespace)
              manifests: |
                k8s/namespace.yaml
                k8s/configmap.yaml
                k8s/secret.yaml
                k8s/deployment.yaml
                k8s/service.yaml
                k8s/hpa.yaml
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)
          
          - task: Kubernetes@1
            displayName: 'Verify Deployment'
            inputs:
              connectionType: 'Kubernetes Service Connection'
              kubernetesServiceEndpoint: $(kubernetesServiceConnection)
              namespace: $(namespace)
              command: 'get'
              arguments: 'pods -l app=forecast-service'
